@{
    ViewData["Title"] = "Home Page";
}


<div class="ContentBlock">
    <div class="containerBlockLeft">
        <h2>Форум - это сердце сайта! Главное место, где люди могут: общаться, знакомиться, 
        излагать мысли, делится чем то новым друг с другом...</h2>
        <img src="~/containers/forum.png" />
    </div>


    <div class="containerBlockRight">
        
            <img src="~/containers/about.png" />
            <h2>
            Форум - это сердце сайта! Главное место, где люди могут: общаться, знакомиться,
            излагать мысли, делится чем то новым друг с другом...
        </h2>
    </div>


    <div class="containerBlockLeft">
        <h2>
            Форум - это сердце сайта! Главное место, где люди могут: общаться, знакомиться,
            излагать мысли, делится чем то новым друг с другом...
        </h2>
        <img src="~/containers/blog.png" />
    </div>

    <div class="containerBlockRight">
        <img src="~/containers/music.png" />
        <h2>
            Форум - это сердце сайта! Главное место, где люди могут: общаться, знакомиться,
            излагать мысли, делится чем то новым друг с другом...
        </h2>
    </div>


    <div class="containerBlockLeft">
        <h2>
            Форум - это сердце сайта! Главное место, где люди могут: общаться, знакомиться,
            излагать мысли, делится чем то новым друг с другом...
        </h2>
        <img src="~/containers/actor.png" />
    </div>
</div>

