@{
    ViewData["Title"] = "Home Page";
}


<div class="ContentBlock">



    <img src="~/containers/forum.png" align="left" />
    <h2>
        Форум - это сердце сайта!
        Главное место, где люди могут: общаться, знакомиться,
        излагать мысли, делится чем то новым друг с другом...
    </h2>


    <img src="~/containers/MyBlog.png" align="right" />
    <h2>
        Форум - это сердце сайта!
        Главное место, где люди могут: общаться, знакомиться,
        излагать мысли, делится чем то новым друг с другом...
    </h2>

</div>

<div class="ContentBlock">

    <img src="~/containers/blog.png" align="left" />
    <h2>
        Форум - это сердце сайта!
        Главное место, где люди могут: общаться, знакомиться,
        излагать мысли, делится чем то новым друг с другом...
    </h2>



    <img src="~/containers/music.png" align="right" />
    <h2>
        Форум - это сердце сайта!
        Главное место, где люди могут: общаться, знакомиться,
        излагать мысли, делится чем то новым друг с другом...
    </h2>

</div>


<div class="ContentBlock">

    <img src="~/containers/actor.png" align="left" />
    <h2>
        Форум - это сердце сайта!
        Главное место, где люди могут: общаться, знакомиться,
        излагать мысли, делится чем то новым друг с другом...
    </h2>

    <img src="~/containers/faq.png" align="right" />
    <h2>
        Форум - это сердце сайта!
        Главное место, где люди могут: общаться, знакомиться,
        излагать мысли, делится чем то новым друг с другом...
    </h2>

</div>

