
* {
    box-sizing: border-box;
}



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    display: flex;
    flex: 1;
    background-image: url('../images/back/back10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    background-image: url('../images/headerup.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 23vh;
}


footer {
    background-image: url('../images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 7vh;
}

header, footer{
    padding: 1em;
}


.container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px 15px;
}


.media {
    display: flex;
    align-items: flex-start;
    align-content:center;
    background: #F6F3EB;
    padding: 1em;
    border-radius: 3px;
    max-width: 20em;
}

.media-object {
    margin-right: .4em;
    font-size: 40em;
}

.media-body {
    flex: 1;
}

.media-heading {
    margin: 0 0 .5em;
}


.logopos {
    display: flex;
    justify-content: center;
    align-items: center;
}
}


h2 {
    color: bisque;
    font-size: 24px;
}

p {
    color: bisque;
    font-size: 16px;
}


fp {
    display:flex;
    color: bisque;
    font-size: 13px;
    flex-wrap:wrap;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .main {
        padding-bottom: 16rem;
    }

    
}


@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .main {
        padding-bottom: 14rem;
    }

  
}


@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .menupos {
        font-size: 18px;
    }

    .main {
        padding-bottom: 10rem;
    }
}



@media (min-width: 576px) {
    .container {
        max-width: 540px;

    }

    .menupos {
        font-size: 16px;
    }

    .main {
        padding-bottom: 7rem;
    }

  
}



@media (min-width: 380px) {
    .container {
        max-width: 340px;
    }

    .menupos {
        font-size: 14px;
    }

    .main {
        padding-bottom: 2rem;
        font-size: 10px;
    }

 
}
