
* {
    box-sizing: border-box;
}



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    display: flex;
    flex: 1;
    background-image: url('../images/back/back10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    background-image: url('../images/headerup.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 23vh;
}


footer {
    background-image: url('../images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 7vh;
}

header, footer{
    padding: 1em;
}


.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}



.columns {
    text-align:center;
    
    padding: 50px 0px 20px 0px;
}

.columns_title {
    text-align:center;
    margin:0px 0px 30px 0px;

}

.columns_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.columns_column {
    flex:0 1 50%;
    margin:0px 0px 30px 0px;

}

.columns_item {
}

.item{

}

.item_row {
    display: flex;
   
}

.item_body {
    flex:1 1 auto;
    padding:0px 0px 0px 15px;
}

.item_title {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.item_text {
 
    color:burlywood;
    font-size:14px;
    line-height:20px unset;
    margin-bottom:0px 0px 13px 0px;

}

img{
    
 
}


.logopos {
    display: flex;
    justify-content: center;
    align-items: center;
}
}


h2 {
    color: bisque;
    font-size: 24px;
}

p {
    color: bisque;
    font-size: 16px;
}


fp {
    display:flex;
    color: bisque;
    font-size: 13px;
    flex-wrap:wrap;
}




@media (min-width: 380px) {
    .container {
        max-width: 360px;
    }

    .menupos {
        font-size: 14px;
    }

    .item_text {
        color: burlywood;
        font-size: 10px;
       
    }

    
   
}


@media (min-width: 590px) {
    .container {
        max-width: 580px;
    }

    .menupos {
        font-size: 16px;
    }

    .item_text {
        color: burlywood;
        font-size: 10px;
        text-align:center;
    }

   
   
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .menupos {
        font-size: 18px;
    }

    .item_text {
        color: burlywood;
        font-size: 12px;
        text-align: center;
    }

    
   
   
}


@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .item_text {
        color: burlywood;
        font-size: 14px;
    }

    .item_row {
        display: flex;
       
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .item_text {
        color: burlywood;
        font-size: 16px;
    }
}


